/* Basic styling for better visibility */
:root {
  /* Changes the primary theme color to purple using primitives */
  --sl-color-primary-50: rgb(255 251 213);
  --sl-color-primary-100: rgb(254 240 96);
  --sl-color-primary-200: rgb(246 224 5);
  --sl-color-primary-300: rgb(228 209 5);
  --sl-color-primary-400: rgb(206 188 4);
  --sl-color-primary-500: rgb(177 161 3);
  --sl-color-primary-600: rgb(146 133 3);
  --sl-color-primary-700: rgb(120 109 2);
  --sl-color-primary-800: rgb(99 90 2);
  --sl-color-primary-900: rgb(70 64 1);
  --sl-color-primary-950: rgb(43 39 1);
}
*:focus {
  outline: 0 !important;
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #36363b;
  padding: 2rem;
  border-radius: 8px;
  max-width: 576px !important;
}
.submit-button::part(base) {
  background: #fde705;
}

.submit-button::part(base):hover {
  background: #c8b91e;
}

.submit-button::part(base):disabled {
  background: #c8b91e;
}

.submit-button::part(base):active {
  background: #fde705;
  opacity: 0.7;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.content-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 32px 1fr;
}

.amount-section {
  position: relative;
  display: flex;
  gap: 24px;
  background-color: #2C2C31;
  padding: 24px 16px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.amount-section > .title {
  position: absolute;
  top: 24px;
  left: 30px;
  color: #fff;
  font-size: 16px;
}
.amount-section > .amount-input-wrapper {
  max-width: 165px;
  margin-top: 38px;
}

.amount-input::part(base) {
  --sl-input-border-color: transparent ;
  --sl-input-focus-ring-color: transparent;
  border-radius: 8px !important;
}

.amount-input.error::part(base) {
  border-color: #FF5F5F !important;
  --sl-input-border-color: #FF5F5F !important;
}

.currency-select::part(combobox) {
  --sl-input-border-color: transparent;
  --sl-input-focus-ring-color: transparent;
  border-radius: 8px !important;
}

.amount-section > .currency-selection {
  max-width: 165px !important;
}

@media screen and (max-width: 576px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
  #swapIcon {
    rotate: 90deg;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100% !important;
    min-width: 430px !important;
  }
  .amount-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
  }
  .amount-section > .currency-selection {
    margin-top: 30px;
  }
  .amount-section > .amount-input-wrapper {
    margin-top: 30px;
  }
  .amount-section > .title {
    left: 16px;
    top: 16px;
  }
  #amount-send-input-error {
    bottom: -15px !important;
  }
}


